/* --------------------------------------------------------------------------------- PRODUCTOS */
.row-sin-margen {
  margin-left: 0;
  margin-right: 0;
}


.encabezado {
  background-color: #F9F7F7;
  margin: 0 auto;
  display: flex;
  justify-content: center;

}

.imgbanner {
  width: 100%;
}


.banner-seccion-producto {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}

h2.titseccion {
  line-height: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  left: 0;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Reenie Beanie', cursive;
  font-size: 8em;

}


/* LISTADO PRODUCTOS */

.listado-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 20px;
}

/* CARD */
.col-producto {
  display: flex;
  justify-content: center;
}

.producto-detallado {
  margin-bottom: 20px;
}

.producto {
  padding: 0;
  border-radius: 0;
  margin: 10px 0 10px 0;
  border: 1px solid black;
  width: 100%;

}
/* CARD BODY */
.encabezado-producto {
  display: flex;
  justify-content: space-between;

}

.nombre-producto {
  font-size: 1.2em;
  font-weight: bold;
}


.corazon {
  font-size: 2em;
  color: #000;
  padding-left: 10px;
}

/* ------------------------------------------------------------------------------- DETALLE PRODUCTOS */

.detalle-producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boton-detalle {
  margin-top: 10px;
}

.nombre-producto-detalle {
  font-size: 2em;
}

.detalle {
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,.125);
  background-color: #F9F7F7;
}

.breadcrumb {
  border-radius: 0;
  background-color: #FFF;
  margin-bottom: 0;
  padding: 20px 0 5px;
}

.breadcrumb-item a{
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.presentacion {
  list-style: square inside;
}

.btn-link {
  text-decoration: none;
  padding-left: 0;
  color: #000;
}

.btn-link:hover {
  text-decoration: none;
  padding-left: 0;
  color: #000;
  font-weight: bolder;
}



/* --------------------------------------------------------------------------------- MEDIA QUERYs */
/* Phones Landscape */
@media (min-width:576px){
  .producto {
  }
}

/* Tablets */
@media (min-width:768px){
  .banner-seccion-producto {
    display: none;
  }

  .col-md-6 {
    display:flex;
  }

  .row-sin-margen {
    margin-left: -15px;
    margin-right: -15px;
  }
}
/* Desktops */
@media (min-width:992px){

}
/* Widescreen */
@media (min-width:1200px){
}
