/* Importamos la librería Normalize */
@import url('normalize.css');
/* Importamos la librería bootstrap*/
@import url('bootstrap.css');
/* Importamos la librería personalizadas */
@import url('gaby.css');

/*importe las fuentes*/
@import url('https://fonts.googleapis.com/css?family=Muli|Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans|Reenie+Beanie&display=swap');
/* Importamos los iconos */
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
/* Importamos jquerys*/
@import url('https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js');
@import url('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js');


/* --------------------------------------------------------------------------------- GENERALES */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

body{
  font-family: 'Muli','Titillium Web', sans-serif;
}

/* El contenedor que no va a ir al borde y contiene información tiene que
tener estas caracteristics col-12 col-md-11 col-xl-10 */
.mainContainer{

}

/* ------------------  Titulo principal ------------------  */
h1{
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.8em;
}

/*------------------  Para titulos y banners especial. Tipografía manuscritos ------------------ */

h2.titseccion {
  line-height: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  left: 0;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Reenie Beanie', cursive;
  font-size: 8em;
}

/* ------------------  Subtitulos ------------------   */

h3 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.8em;
}

/* ------------------  Nombre de productos ------------------  */

h4 {
  font-size: 2em;
}

.bg-dark {
  background-color: #000 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* ------------------ Estilo de Botones ------------------ */
.btn {
  text-transform: uppercase;
  border-radius: 0rem;
}


.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.btn-secondary {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn-secondary:hover {
  color: #666;
  background-color: #fff;
  border-color: #666;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}


.btn-link {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.btn-link:hover {
  color: #f9f9f9;
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
  box-shadow: none;
  color: #ccc;
}

.btn-light {
  color: #666;
  background-color: #fff;
  font-size: 0.5em;
  margin: 0.5em;
}

.btn-light:hover {
  color: #000;
  background-color: #fff;
}


/* ---------------------------------------------------------------------------------  INDEX */

.carousel-inner img {
    width: 100%;
    max-height: 50%;
}

.carousel-caption{
  font-family: "Muli", sans-serif;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.carousel-caption p{
  font-family: "Titillium", sans-serif;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
/*hasta aca va el estilo del index*/

/* --------------------------------------------------------------------------------- LOGIN */
.container {
  padding: 8px;
}
.mainContainer{
  display: flex;
  justify-content: center;
}
/* ------------------  Style Formulario ------------------  */
form {
  align-self: center;
}

/* ------------------  inputs en formuario  ------------------  */
input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

span.psw {
  display: flex;
  flex-direction: row-reverse;
}

/* ------------------  Botones en formulario ------------------  */
.btnForm{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

form button{
  padding: 0.5em 2em;
}

/* --------------------------------------------------------------------------------- REGISTER */

.containerRegister{
  display: block;
}

/* ------------------  Style Imagen en formulario ------------------  */
.imgcontainer {
  text-align: center;
  margin: 12px 0 12px 0;
}

img.avatar {
  width: 80%;
  border-radius: 50%;
  border: 3px solid black;
}
/* ------------------  Style Switch ------------------  */

.containerSwitch{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.containerUnSwitchCat{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  font-size: 18px;
}
.containerUnSwitchNot{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* ---------------- Rounded sliders ---------------- */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchText{
  margin-left: 10px;
}

/* --------------------------------------------------------------------------------- PROFILE */
.imgContainerProfile {
  text-align: center;
  margin: 12px 0 12px 0;
}
.containerAside{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.containerUnSwitch{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
}

.profile .btnForm button{
  padding: 14px 20px;
  width: 100%;
}

.tituloCardFav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px;
}
.buttonsCard{
}
.tituloCardFav .corazon{
    align-self: center;
}
.card-title{
  text-align: center;
}


/* --------------------------------------------------------------------------------- HEADER */

header{
  display: flex;
  justify-content: center;
}

.mainHeader{
  width: 100%;
  text-align: center;
}


.perfilHeader{
  display: none;
}



.socialMedia{
  display: flex;
  width: 100%;
  justify-content: center;

  align-items: center;
}
.socialMedia li{
  font-size: 1rem;
  margin: 5px;
}

.socialMedia li a{
  background: #666;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler{
  margin: 10px auto;
  border: none;
}

.navbar-brand {
  width:100%;
  margin-right: 0;
  font-family: 'Reenie Beanie', cursive;
  font-size: 3em;
  text-align: center;
  padding: 0;
}
.navbar-brand img{
  width: 60%;

}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}


/* --------------------------------------------------------------------------------- FAQ */

.mainFaqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

#accordionDesktop{
  display: none;
}

.mainFaqs .card {
  background-color: #fff;
  background-clip: border-box;

  border-bottom: 1px solid rgba(255, 255, 255, 1);
  border-radius: 0;
}

.mainFaqs .card-header {
  padding: 0.5rem 0.75rem;
  background-color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.card-header:first-child {
    border-radius: 0;
}

/* --------------------------------------------------------------------------------- FOOTER */

footer{
  background: #666;
  color: #fff;
  padding: 20px 0;
  font-size: 0.7rem;
}

footer h2{
  font-size: 1.3rem;
  letter-spacing: 2px;
}

footer .mainFooter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
  color: #fff;
}

footer a{
  color: #fff!important;
}

footer a:hover{
  color:#ccc;
  text-decoration: none;
}

/* --------------------------------------------------------------------------------- MEDIA QUERYs */
/* Phones Landscape */
@media (min-width:480px){

  /* --------------------------------------------------------------------------------- HEADER */
  .navbar-brand img{
    width: 60%;
  }

  .mainHeader {
    display: flex;
    flex-wrap: wrap;
  }

  .navbar-toggler{
    margin: 20px 0 0 0;
    border: none;
  }

  .clmLogo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 20px;

  }

  .clmPerfil{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
    justify-content: space-between!important;
    padding: 15px 20px;

  }

  .perfilHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .perfilHeader img{
    width: 40px;
    height: auto;
    border-radius: 50%;
  }

  .navbar-brand {
  text-align: left;
  }

  .navbar {
      align-items: normal!important;
  }

  .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 20px;

  }

  /* --------------------------------------------------------------------------------- FOOTER */

/* Tablets */
@media (min-width:768px){

  /* --------------------------------------------------------------------------------- Log_in */
  form {
    border: 1px solid #000000;
    margin: 0 5px;
  }

  /* --------------------------------------------------------------------------------- Register */

  .containerRegister{
    display: flex;
    flex-direction: row;
  }

  .containerUnSwitchCat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    font-size: 18px;
  }
  /* --------------------------------------------------------------------------------- Perfil */

  .imgContainerProfile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
.imgContainerProfile img.avatar{
  width: 40%;
}
img.avatar {
    width: 100%;
}
  /* --------------------------------------------------------------------------------- HEADER */

    .mainHeader {
      display: flex;
      flex-wrap: wrap;
    }

    .navbar-toggler{
      margin: 20px 0 0 0;
      border: none;
    }

    .clmLogo{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 20px;
    }

    .clmPerfil{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: #fff;
      justify-content: space-between;
      padding: 20px;
    }

    .perfilHeader{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .perfilHeader img{
      width: 40px;
      height: auto;
      border-radius: 50%;
    }

    .navbar-brand {
    text-align: left;
  }

    .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
      justify-content: space-between;
  }

  .navbar-expand-md .navbar-collapse {
      justify-content: center;
  }

  .navbar-brand img{
    width: 50%;

  }

  /*
    .navbar-expand-md {
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  }

/* --------------------------------------------------------------------------------- FOOTER */



}
/* Desktops */
@media (min-width:992px){

/* --------------------------------------------------------------------------------- LOG IN */

form button{
  width: 100%
}

form button.volver{
  display: none;
}

/* --------------------------------------------------------------------------------- Register */

/* --------------------------------------------------------------------------------- HEADER */

.navbar-brand {
  width:auto;
  margin-right: 0;
  text-align: left;
}

.navbar-brand img{
  width: 70%;

}
/*
.mainHeader {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}*/
.clmLogo{
  padding: 10px 0 0 0;
}

.clmPerfil {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
 }


.socialMedia {
    width: auto;
    justify-content: flex-end;
}

.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}



/* --------------------------------------------------------------------------------- FAQS */

  .mainFaqs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: url("../imgs/faqs.jpg") center center;
    background-size: cover;
    color: #fff;
  }

  #accordionMobile{
    display: none;
  }

  .faqDesktop{
    display: flex;
    justify-content: space-between;
  }

  #accordionDesktop{
    display: flex;
    width: 100%;
  }

  .faqs-preguntas, .faqs-rtas{
    display: block;
    width: 48%;
  }

  .mainFaqs .card {
    background-color: rgba(255, 255, 255, 0);;
    background-clip: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    border-radius: 0;
  }

  .mainFaqs .card-header {
    padding: 0.5rem 0.75rem;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    text-align: left;
  }

  .card-header {
    padding: 0.05rem 1.25rem;
  }

  /* --------------------------------------------------------------------------------- FOOTER */


    footer .mainFooter{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
      font-size: 0.9rem;
    }
}
/* Widescreen */
@media (min-width:1200px){

}
