/* Importamos la librería Normalize */
@import url('normalize.css');
/* Importamos la librería bootstrap*/
@import url('bootstrap.css');
/* Importamos la librería personalizadas */
@import url('gaby.css');

/*importe las fuentes*/
@import url('https://fonts.googleapis.com/css?family=Muli|Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans|Reenie+Beanie&display=swap');
/* Importamos los iconos */
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');


/* --------------------------------------------------------------------------------- GENERALES */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}


a:hover {
  color: inherit;
  text-decoration: none;
}


ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

body{
  font-family: 'Muli','Titillium Web', sans-serif;
}

/* El contenedor que no va a ir al borde y contiene información tiene que
tener estas caracteristics col-12 col-md-11 col-xl-10 */
.mainContainer{

}

/* ------------------  Titulo principal ------------------  */
h1{
    font-size: 5em;
    font-family: 'Reenie Beanie', cursive;
}

/*------------------  Para titulos y banners especial. Tipografía manuscritos ------------------ */

h2.titseccion {
  line-height: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  left: 0;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Reenie Beanie', cursive;
  font-size: 6em;
}

/* ------------------  Subtitulos ------------------   */

h3 {
  font-size: 1.5em;
}

/* ------------------  Nombre de productos ------------------  */

h4 {
  font-size: 1.5em;
}

.bg-dark {
  background-color: #000 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* ------------------ Estilo de Botones ------------------ */
.btn {
  text-transform: uppercase;
  border-radius: 0rem;
}


.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.btn-secondary {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn-secondary:hover {
  color: #666;
  background-color: #fff;
  border-color: #666;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}


.btn-info {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn-info:hover {
  color: #f9f9f9;
  background-color: transparent;
  border-color: #f9f9f9;
}

.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
  color: #f9f9f9;
  background-color: transparent;
  border-color: #f9f9f9;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}


.btn-light {
  color: #666;
  background-color: #fff;
  font-size: 0.8em;
  padding: 10px 8px 8px 8px;
  /* margin: 0.5em; */
}

.btn-light:hover {
  color: #000;
  background-color: #fff;
}
/*
.dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0rem;
   box-shadow: 0px 2px 2px #ccc;
}*/



/* ---------------------------------------------------------------------------------  INDEX */

.carousel-inner img {
    width: 100%;
    max-height: 50%;
}

.carousel-caption h3{
  font-family: "Muli", sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 30px;
  color: black;

}


.carousel-caption p{
  font-family: "Titillium", sans-serif;
  font-size: 20px;
  color: black;
  background-color:rgba(255, 255, 255, 0.5);
  text-align: center;

}
.wide{
  display: none;
}
.about{
margin-top: 0.2em;
margin-bottom: 0em;
    font-size:5em;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
}

.aboutp{
  font-size: 1em;
  margin-left: 20px;
  margin-top: 0em;
  text-align: left;
  margin-right: 20px;
}
/*hasta aca va el estilo del index*/

/* --------------------------------------------------------------------------------- ERRORES EN LOGIN Y REGISTER */

.alert-danger {
  border-radius: 0;
  color:#BD3131;
  background-color: #F7DFDC;
  font-weight: bold;

}

/* --------------------------------------------------------------------------------- LOGIN */
.container {
  padding: 8px;
}
.mainContainer{
  display: flex;
  justify-content: center;
}
/* ------------------  Style Formulario ------------------  */
form {
  align-self: center;
  margin: 10px 0;
}

/* ------------------  inputs en formuario  ------------------  */
input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

span.psw {
  display: flex;
  flex-direction: row-reverse;
}

.reg {
  font-size: 0.8em;
  background-color: #E2E2E2;
  border-color: #CCCCCC;
  padding: 10px;
  letter-spacing: 0.25em;
}

.custom-select {
  margin-bottom: 20px;
  border-radius: 0;
  border: 1px solid #000000;
}

/* ------------------  Botones en formulario ------------------  */
.btnForm{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

form button{
  padding: 0.5em 2em;
}

/* --------------------------------------------------------------------------------- REGISTER */

.containerRegister{
  display: block;
}

/* ------------------  Style Imagen en formulario ------------------  */
.imgcontainer {
  text-align: center;
  margin: 12px 0 12px 0;
}

img.avatar {
  width: 80%;
  border-radius: 50%;
  border: 3px solid black;
}
/* ------------------  Style Switch ------------------  */

.containerSwitch{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.containerUnSwitchCat{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  font-size: 16px;
  margin-bottom: 30px;
}

.containerUnSwitchNot{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* ---------------- Rounded sliders ---------------- */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* --------------------------------------------------------------------------------- PROFILE */
.imgContainerProfile {
  text-align: center;
  margin: 12px 0 12px 0;
}


.imgContainerProfile .imgPerfil{
  width: 200px;
  min-height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  margin:10px 0 0 0;
}

.imgContainerProfile .imgPerfil img{
  display: block;
  height: 100%;
  /*min-height: 200px!important;
  min-width: 200px!important;*/
  left: 50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translateX(-50%, -50%);
  position: absolute;
  /*clip-path: circle(200px at center);
  -webkit-clip-path: circle(200px at center);*/
  display: block;
  width: 100%;
  object-fit: cover;
  /*min-width: 250px;
  min-height: 200px;*/
 
}


.containerAside{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.containerUnSwitch{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
}

.profile .btnForm button{
  padding: 14px 20px;
  width: 100%;
}

.tituloCardFav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px;
}
.buttonsCard{
}
.tituloCardFav .corazon{
    align-self: center;
}
.card-title{
  text-align: center;
}

.switchTextPerfil{
  margin-left: 10px;
}

.log-out {
  color: #CCC;
  border-color: #CCC;
}


/* --------------------------------------------------------------------------------- HEADER */

header{
  display: flex;
  justify-content: center;
}

.mainHeader{
  width: 100%;
  text-align: center;
  padding: 10px 0 0 0;
}

.perfilHeader .img img{
  display: none;
}

 .clmPerfil{
    display: none;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
    justify-content: space-between!important;
    padding: 15px 20px;
  }

.perfilMobile {
    border-top: 1px solid #333;
    background: #222;
    padding: 7px 0;
    color:#fff;
}

.dropdown-menu {
    text-align: center!important;
    
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0rem;
}
/*
.perfilHeader{
  display: none;
}


.socialMedia{
  display: flex;
  width: 100%;
  justify-content: center;

  align-items: center;
}
.socialMedia li{
  font-size: 1rem;
  margin: 5px;
}

.socialMedia li a{
  background: #666;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.searchHeader{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-self: center;
  justify-content: center;
}


.searchHeader .form-control{
  border-radius: 0px;
  margin: 0;
}

.searchHeader .input {
  border: none!important;
}

.navbar-toggler{
  margin: 10px auto;
  border: none;
}

.navbar-brand {
  width:100%;
  margin-right: 0;
  font-size: 3em;
  text-align: center!important;
  padding: 0;
}

.navbar-brand img{
  width: 60%;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}
.navbar-nav {
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
  margin: 0!important;
}
.dropdown-menu {
    border: none;
    border-radius: 0rem;
    box-shadow: 0px;
}
/* --------------------------------------------------------------------------------- FAQ */

.mt-4{
margin-top: 0.2em;
margin-bottom: 0em;
    font-size:5em;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
}

.mainFaqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.mainFaqs .btn-link {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.mainFaqs .btn-link:hover {
  color: #f9f9f9;
  text-decoration: underline;
}

.mainFaqs .btn-link:focus, .btn-link.focus {
  text-decoration: none;
  box-shadow: none;
  color: #ccc;
}

#accordionDesktop{
  display: none;
}

.mainFaqs .card {
  background-color: #fff;
  background-clip: border-box;

  border-bottom: 1px solid rgba(255, 255, 255, 1);
  border-radius: 0;
}

.mainFaqs .card-header {
  padding: 0.5rem 0.75rem;
  background-color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.card-header:first-child {
    border-radius: 0;
}
/*productos*/
.tit-productos {
  margin-top: 0.2em;
  margin-bottom: 0em;
  font-size:5em;
  text-align: left;
  font-family: 'Reenie Beanie', cursive;
}
/* --------------------------------------------------------------------------------- EN CONSTRUCCION */

.mainConstrucccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

/* --------------------------------------------------------------------------------- FOOTER */

footer{
  background: #666;
  color: #fff;
  padding: 20px 0;
  font-size: 0.7rem;
}

footer h2{
  font-size: 1.3rem;
  letter-spacing: 2px;
}

footer .mainFooter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
  color: #fff;
}

footer a{
  color: #fff!important;
}

footer a:hover{
  color:#ccc;
  text-decoration: none;
}

/* --------------------------------------------------------------------------------- MEDIA QUERYs */
/* Phones Landscape */
@media (min-width:480px){

  /* --------------------------------------------------------------------------------- HEADER */


  .mainHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .clmLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
  }

  .clmPerfil{
    display: none;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
    justify-content: space-between!important;
    padding: 15px 20px;
  }

/*
  .perfilHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .perfilHeader img{
    display: none;
  }
*/

  .navbar-toggler{
    margin: 20px 0 0 0;
    border: none;
  }

  .navbar {
      align-items: normal!important;
  }

  .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 20px;
  }

  .navbar-brand img{
    width: 70%;
  }


  /*---------------INDEX----------------------------------------------------------------------*/
  .about{
    margin-top: 0.2em;
    margin-bottom: 0em;
        font-size:5em;
        text-align: center;
        font-family: 'Reenie Beanie', cursive;
    }

  /*.about{
  margin-top: 0.2em;
  margin-bottom: 0em;
      font-size:5em;
      text-align: center;
      font-family: 'Reenie Beanie', cursive;
  }
    .aboutp{
      margin-left: 55px;
      margin-right: 55px;
      margin-top: 0em;
      font-size: 2em;
      text-align: justify;
      text-align: left;
    }*/
  .aboutp{
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 0em;
    font-size: 1.2em;
    text-align: justify;
    text-align: left;
  }

  .wide{
    display: none;
  }
/*hasta aca va el estilo del index*/
  /* --------------------------------------------------------------------------------- FOOTER */

/* Tablets */
@media (min-width:768px){

  /* --------------------------------------------------------------------------------- Log_in */
  form {
    border: 1px solid #000000;
  }

  .mainContainer {
    margin: 10px 0;
  }
  /* --------------------------------------------------------------------------------- Register */

  .containerRegister{
    display: flex;
    flex-direction: row;
  }

  .containerUnSwitchCat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    font-size: 16px;
  }

  .switchText{
    margin-left: 10px;
    line-height: 2em;
  }


  /* --------------------------------------------------------------------------------- Perfil */
  .containerProfile{
    display: flex;
    justify-content: center;
  }

  .imgContainerProfile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .imgContainerProfile label{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgContainerProfile .imgPerfil{
  width: 250px;
  min-height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  margin:10px 0 0 0;
}



  .imgContainerProfile img.avatar{
    width: 40%;
  }
  img.avatar {
      width: 100%;
  }

  .log-out {
    border: none;
    padding: 0 0 10px 0;
    margin: 0;
    text-align: right;
    width: auto;
  }

  .btnLogOut {
    display: flex;
    justify-content: flex-end;
  }

  /* --------------------------------------------------------------------------------- HEADER */
/*
    .mainHeader {
      display: flex;
      flex-wrap: wrap;
    }
*/

    .clmLogo{
      padding: 15px 0 0 0;
    }

    .clmPerfil{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: #fff;
      justify-content: space-between;
      padding: 20px;
    }


  .perfilMobile{
    display: none;
  }

    .searchHeader {
    align-self: flex-end;
    }

    .perfilHeader{

      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .perfilHeader img{
      display: none;
    }

    .navbar-brand {
    text-align: left!important;
    }

    .navbar-brand img{
      width: 50%;
    }

    .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
      justify-content: space-between;
  }

    .navbar-expand-md .navbar-collapse {
        justify-content: center;
    }
    .navbar-toggler{
      margin: 20px 0 0 0;
      border: none;
    }

  /*
    .navbar-expand-md {
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  }

/* --------------------------------------------------------------------------------- FOOTER */
.about{
    margin-top: 0.2em;
    margin-bottom: 0em;
    font-size:5em;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
}


  .aboutp{
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 0em;
    font-size: 1.2em;
    text-align: justify;
  }

.wide{
  display: none;
}
/*----------------------INDEX--------------------------------------------/*


}
/* Desktops */
@media (min-width:992px){
  h3 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.8em;
  }

  .about{
      margin-top: 0.2em;
      margin-bottom: 0em;
      font-size:5em;
      text-align: center;
      font-family: 'Reenie Beanie', cursive;
  }


    .aboutp{
      margin-left: 55px;
      margin-right: 55px;
      margin-top: 0em;
      font-size: 1.2em;
      text-align: justify;
    }
  .wide{
    display: block;
  }
  .mobile{
    display: none;
  }
/* --------------------------------------------------------------------------------- LOG IN */

form button{
  width: 100%
}

form button.volver{
  display: none;
}

/* --------------------------------------------------------------------------------- Register */

/* --------------------------------------------------------------------------------- HEADER */

.mainHeader {
    justify-content: space-between;
}

.navbar-brand {
  width:auto;
  margin-right: 0;
  text-align: left;
}

.navbar-brand img{
  width: 70%;
}

.clmLogo{
  padding: 10px 0 0 0;
}

.clmPerfil {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 10px 0;
 }

.perfilHeader {
  padding: 0 8px;
}

.perfilHeader .avatar{

  margin: 20px auto;
  display: block;
  width: 100%;
  height: 400px;
  -webkit-mask: 50%;
  mask: 50%;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

}

.perfilHeader .img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70px;
  min-height: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  margin:0 0 0 10px;
}

.perfilHeader .img img{
  clip-path: circle(125px at center);
  -webkit-clip-path: circle( at center);
  display: block;
  width: 100%;
  min-width: 120px;
  min-height: 70px;
  /*left: 50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translateX(-50%, -50%);*/
  position: absolute;
}

 .searchHeader {
     align-self: flex-start!important;
     margin: 0;
 }



.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}

.dropdown-menu {
    
    box-shadow: 0px 2px 2px #ccc;
}
/* --------------------------------------------------------------------------------- En Construccion */

  .mainConstruccion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: url("../imgs/img-construccion.jpg") center center;
    background-size: cover;
    color: #fff;
    min-height: 60vh; /* solución temporal - corregir posición footer - */
  }


/* --------------------------------------------------------------------------------- FAQS */

  .mainFaqs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: url("../imgs/faqs.jpg") center center;
    background-size: cover;
    color: #fff;
  }

  .mainFaqs .btn-link {
      text-align: left;
  }

  #accordionMobile{
    display: none;
  }

  .faqDesktop{
    display: flex;
    justify-content: space-between;
  }

  #accordionDesktop{
    display: flex;
    width: 100%;
  }

  .faqs-preguntas, .faqs-rtas{
    display: block;
    width: 48%;
  }

  .mainFaqs .card {
    background-color: rgba(255, 255, 255, 0);;
    background-clip: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    border-radius: 0;
  }

  .mainFaqs .card-header {
    padding: 0.5rem 0.75rem;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    text-align: left;
  }

  .card-header {
    padding: 0.05rem 1.25rem;
  }

  /* --------------------------------------------------------------------------------- FOOTER */


    footer .mainFooter{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
      font-size: 0.9rem;
    }
}
/* Widescreen */
@media (min-width:1200px){


  .about{
      margin-top: 0.2em;
      margin-bottom: 0em;
      font-size:5em;
      text-align: center;
      font-family: 'Reenie Beanie', cursive;
  }


    .aboutp{
      margin-left: 55px;
      margin-right: 55px;
      margin-top: 0em;
      font-size: 1.2em;
      text-align: justify;
    }
    .wide{
      display: block;
    }
    .mobile{
      display: none;
    }
}
